@model IEnumerable<Checkpoint1.Models.Student>

@{
    ViewBag.Title = "Index";
    SelectList crslist = ViewBag.CourseSelectList;
}

<h2>Index</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnrollmentDate)
            </th>
            <th>@Html.DisplayNameFor(model => model.CourseId)</th>
            <th></th>
        </tr>
        <tr>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
                <form method="post" id="filter" action="@Url.Action("Index", "Student")">
                    @Html.DropDownList("courseFilter", crslist, "All", new { @class = "form-control", @style = "width: 16rem; display:inline-block" })
                </form>
            </th>
            <th>
                @Html.ActionLink("Create New", "Create", "Student", null, new { @class = "btn btn-primary" })
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.fName)
                </td>
                <td>
                    @Html.DisplayFor(m => item.lName)
                </td>
                <td>
                    @Html.DisplayFor(m => item.EnrollmentDate)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Course.Label)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>

@section scripts
{
<script>
$(document).ready(function(){
    $("#courseFilter").change(function () {
        $("#filter").submit();
    });
});
</script>
}